<!DOCTYPE html>
<html>
  <head>
    <title>Run</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag asset_path('logo_updated.png') %>
  </head>

  <body>
    <!-- Notice
    <div class="notification is-primary">
    <button class="delete"></button>
      <strong><%#= notice %></strong>
    </div> -->

    <%= yield %>
  </body>
</html>
